<h3>Messaging example</h3>
<div id="demo-content">
    <div id="loader-wrapper" style="postion:relative;background:#009999; width: 100%; height: 100%; vertical-align:middle;">
        <div style="margin-top:130px; color: white; text-align:center;font-family: cursive;"><h1>Contextual Collaboration</h1></div>
        <br><br>
        <br><br>
        <router-outlet></router-outlet>
        <div ng-app="circuit.sdk.examples" ng-controller="ctrl" class="ng-cloak">
            <section class="error" ng-show="!!error">{{error}}</section>
            <section class="login" ng-show="!error">
                <div>
                    <input type="email"  style="margin: 20px 30%; width: 40%" ng-model="email" ng-disabled="!!localUser" placeholder="What is your Circuit email?"/>
                    <input type="password" style="margin:20px 30%;width:40%" ng-model="password" ng-disabled="!!localUser" placeholder="Please give your password"/>
                    <div style="margin: 20px 30%">
                        <button style="margin-left: 100px;margin-right: 100px" ng-click="login()" ng-show="!localUser" ng-disabled="!email || !password">Logon</button>
                        <button style="margin-left: 100px" ng-click="logout()" ng-show="!!localUser">Logout</button>
                    </div>
                </div>
            </section>

            <p style="margin:50px 35%">
                New to <a href="https://www.circuit.com/" target="_blank">Circuit</a>? <a href="https://developers.circuit.com/registration"  target="_blank">Register</a> for a <a href="https://developers.circuit.com"  target="_blank">developer</a> account.
            </p>
<a routerLinkActive="active" routerLink="/chatbot">chatbot</a>
            this.router.

            <div style="margin:0 35%">
                <section class="conv" ng-show="conversations.length && !createMode">
                    <div class="pad-bottom">Select or <a ng-click="createMode=true;query=null" href="">Create a Conversation</a></div>
                    <select class="select-wide" ng-model="selectedConv" ng-options="conv as (conv.title || conv.participantFirstNames) for conv in conversations" size="5"></select>
                </section>
                <section class="conv" ng-show="!!localUser && !conversations.length && !createMode">
                    <a ng-click="createMode=true;query=null" href="">Create a Conversation</a>
                </section>

                <section class="create" ng-show="createMode">
                    <div><input type="text" ng-model="query" ng-keyup="search(query, $event)" placeholder="Search for a user"/></div>
                    <div class="pad-bottom">
                        <select class="select-wide" multiple size="5">
                            <option ng-repeat="user in users" value="user" ng-click="selectUser(user)">{{user.displayName}}</option>
                        </select>
                    </div>
                    <div class="pad-bottom">
                        <select class="select-wide" multiple size="5">
                            <option ng-repeat="user in selectedUsers" value="user" ng-click="deselectUser(user)">{{user.displayName}}</option>
                        </select>
                    </div>
                    <div><input type="text" ng-show="selectedUsers.length>=2" class="pad-bottom" ng-model="title" placeholder="Enter title"/></div>
                    <button ng-click="createMode=false;selectedUsers=[]">Cancel</button>
                    <button ng-click="createConversation()" ng-disabled="!selectedUsers.length">Create</button>
                </section>

                <section class="send" ng-show="!!selectedConv && !createMode">
                    <div>Conversation: {{getConvName(selectedConv)}}</div>
                    <div class="send-container">
                        <input type="text" ng-model="message" placeholder="Enter message"/>
                        <button ng-click="send()" ng-disabled="!message">Send</button>
                        <input type="file" id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" style="width:200px">
                    </div>
                    <div class="sending" ng-show="!!sending">me: {{sendingItem.text.content}}<span> sending...</span></div>
                    <div ng-repeat="item in items | limitTo:-10 | orderBy:'modificationTime':true" class="item" ng-class="{'sent-by-me': item.sentByMe}"><span class="light">{{item.modificationTime | date:'hh:mm a'}}:</span> {{item.sentByMe?'Me':item.creator.firstName}}: <span ng-class="{'italic':!!item.parent}" ng-bind-html="item.trustedText"></span></div>
                </section>
            </div>
        </div>
    </div>
</div>
