body {
    font-family: sans-serif;
    font-size: 12px;
}
section {
    margin-bottom: 20px;
}
.pad-top {
    margin-top: 5px;
}
.pad-bottom {
    margin-bottom: 5px;
}
.error {
    color: red;
}
button {
    width: 70px;
}
.login input {
    width: 150px;
}
select {
    width: 310px;
}
.send input {
    width: 310px;
    margin-top: 5px;
}
.sending span {
    color: grey;
}
.create input {
    width: 306px;
}
.item {
    color: CornflowerBlue;
}
.item.sent-by-me {
    color: ForestGreen;
}
.light {
    color: #888888;
}
.italic {
    font-style: italic;
}


